* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 10px auto;
}

.logo-menu-header .logo {
  height: 60px;
  /* background-color: #E579E6; */
}

.logo .logo-img {
  height: 100%;
  border-right:1px solid #d3d2d2;
  padding-right: 15px;
}

/*
.main .yellow-block {
  height: 400px;
  margin-top: 25px;
  background-color: #E1D67A; 
}

.main .blue-block {
  height: 500px;
  margin-top: 25px;
  background-color: #0485FD;
}

.blue-block .blue-row {
  height: 70px;
  background-color: #ABCFE7;
}

.col-wrap {
  margin-top: 15px;
}

aside .left-blue-bl {
  width: 24%;
  height: 400px;
  float: left;
  background-color: #ABCFE7;
}

section .center-blue-bl {
  width: 50%;
  height: 400px;
  margin-left: 1%;
  margin-right: 1%;
  float: left;
  background-color: #ABCFE7;
}

aside .right-blue-bl {
  width: 24%;
  height: 400px;
  float: right;
  background-color: #ABCFE7;
}

.footer .footer-container {
  margin-top: 7px;
  height: 50px;
  background-color: #8801FE;
}

*/