* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 50%;
  margin: 10px auto;
  font-family: 'Outfit', sans-serif;
}

/*** CLASSI COMUNI ***/


/* Overlay IMG */

.overlay {  
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 10px;
}

/* 
Classe dimensioni 
wrap delle tre img del main  
*/
.main-img-wrap {
  height: 150px;
  position: relative;
}

/* Classe dim. immagini colonne sx e dx*/
.small-image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

/* Testo sotto IMG tre colonne */

.col-text {
  margin-top: 15px;
  font-size: 0.9em;
  color: #acacac;
  margin-bottom: 20px;
}

.col-text .col-text-h3 {
  padding-bottom: 10px;
  font-weight: 600;
  color: #000;
}


/** FINE CLASSI COMUNI **/


/* Sezione Header */

.header-container .logo {
  height: 60px;
}

/* Logo */

.logo .logo-img {
  height: 100%;
  border-right:1px solid #d3d2d2;
  padding-right: 15px;
}


/* Navbar Menu */

.menu-container {
  margin-top: 25px;
  text-transform: uppercase;
  font-family: 'Outfit', sans-serif;
}

.menu-container li {
  display: inline;
  list-style: none;
  padding-right: 7px;
  font-size: 0.85em;
  
}

.menu-container li a {
  text-decoration: none;
  color: #919191;
}


/* Banner centrale header */

.header-container .banner {
  margin-top: 25px;
  height: 420px;
  position: relative;
  
} 

.header-container .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Testo banner */

.banner .banner-text {
  width: 42%;
  display: inline-block;
  position: absolute;
  bottom: 70px;
  left: 50px;
  color: #fff;
}

.banner-text .title-h1{
  font-size: 1.5em;
  font-weight: 500;
}

.banner-text .banner-sub-text {
  font-size: 0.85em;
}

.main-content .main-title {
  margin-top: 25px;
}

.main-title .title-h2 {
  font-size: 1.6em;
}

.main-title .main-subtext {
  font-size: 0.9em;
  color: #bdbdbd;
}

.col-wrap {
  margin-top: 25px;
}


/* Colonna sinistra del main */

.col-wrap .left-section {
  width: 20%;
  float: left;
}

/* Colonna centrale del main*/

.col-wrap .center-section {
  width: 60%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
}

/* Colonna destra del main */

.col-wrap .right-section {
  width: 20%;
  float: right;
}

/* CLEARFIX */

.main-content::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */

.footer-container .footer-content {
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 0.9em;
}

.footer-content::after {;
  content: '\1F499';
}